<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
 

	<title>GrocerWe</title>





</head>
<body>
    
<div class="bigContainer"> <!--contains all of the forms-->
    
    <img src="img/grocerWeLogo.png" class="logo">
    
 <!---start of dot progress slider-->
 <div id="stepsbar-wrap">
  <div id="stepsbar" class="stepsbar">
    <ol>
      <li class="active"><span>Step1 Details</span></li>
      
      <li ><span>Step2 Details</span></li>
      <li><span>Step3 Details</span></li>
      <li><span>Step4 Details</span></li>
      <li><span>Step5 Details</span></li>
    </ol>
  </div>        
</div>

<button id="btn1" class="btn"> Step back</button>
<button id="btn2" class="btn"> Next Step</button>
    <!--end of dot progress slider-->
       
<!--
 <div class="formContainer"> <!--contains all of step 1-->
    
        <h1>What items are you splitting?</h1>


        <form id="form-step1" class="form-vertical">
           <fieldset>
              <legend>Items</legend>
              <div id="extender2">
                  <p style="display: block;"><input type="text"  class="inp" id="1" value="">
                      <input type="number" min="0.00" max="10000.00" step="0.01" />


                      <a class="dynamic-link" href="#step2">Remove</a></p>
              </div>

              <p><a id="add_btn2" href="#">Add</a></p>
                <a href="#form-step2" >  next </a>
            </fieldset>
        </form>

    <!---------END OF STEP 1----------->





<form method="post" action="" id="form-step2" class="form-vertical">
   <fieldset>
      <legend>Names</legend>
      <div id="extender">



          <p style="display: block;"><input type="text"  class="inp" id="1" value=""><a class="dynamic-link" href="#step2">Remove</a></p>


      </div>

      <p><a id="add_btn" href="#">Add</a></p>

       <a href="#form-step1">prev </a>     
       <a href="#form-step2">next </a>

            

    </fieldset>
</form>









<h2>Split</h2>
            {% for name in names %}
                <ul>
                    <h2>{{name}}</h2>

                        {% for item in items    %}
                             <li>
                            <label><input  type="checkbox" >{{item}} <br></label>
                            </li>
                        {% endfor %}

                </ul>
            {% endfor %}


<button >Next</button>
    </div> <!--End of div class formContainer -->

-->
<!----------JS LINKS--------------------------------------->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"  integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA=" crossorigin="anonymous"></script>

    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/field.js"></script>
    <script type="text/javascript" src="/dotslide.js"></script>
    
</body>

    
    
    
    
    
    
    
    
    
    
    

<script>//set a counter
    var i = $('#form-step1 :input').length + 1;

    //add input
    $('a#add_btn').click(function () {
        $('<p><input type="text" name="items[]" class="inp" id="' + i + '" value="" />' +
            '<a class="dynamic-link" href="#step2">Remove</a></p>').fadeIn("slow").appendTo('#extender');
        i++;
        return false;
    });


    //fadeout selected item and remove
    $("#form-step1").on('click', '.dynamic-link', function () {
        $(this).parent().fadeOut(300, function () {
            $(this).empty();
            return false;
        });
    });



$(document).ready( function() { // Wait until document is fully parsed
  $("#form-step1").on('submit', function(e){

     e.preventDefault();

  });
});
</script>





<script>//set a counter
    var i = $('#form-step2 :input').length + 1;
    //add input
    $('a#add_btn2').click(function () {
        $('<p><input type="text" name="items[]" class="inp" id="' + i + '" value="" /> <input type="number" name="items[]" class="inp" id="' + i + '" value="" min="0.00" max="10000.00" step="0.01"  />' +
            '<a class="dynamic-link" href="#step2">Remove</a></p>').fadeIn("slow").appendTo('#extender2');
        i++;
        return false;
    });


    //fadeout selected item and remove
    $("#form-step2").on('click', '.dynamic-link', function () {
        $(this).parent().fadeOut(300, function () {
            $(this).empty();
            return false;
        });
    });



$(document).ready( function() { // Wait until document is fully parsed
  $("#form-step2").on('submit', function(e){

     e.preventDefault();

  });
});
</script>


</html>