{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />


	<title>GrocerWe</title>


</head>

<body>


<div class="bigContainer">
<header>

    <center>
<img src="{% static "grocerWeLogo.png" %}" class="logo" ></center>
  <div id="stepsbar-wrap">
  <div id="stepsbar" class="stepsbar">
      <center>
    <ol>
      <li class="active"><span>Bill Items</span></li>
      <li ><span>Friends</span></li>
      <li><span>Split Items</span></li>
      <li><span>Results</span></li>
    </ol>
    </center>
  </div>
</div>
     </header>

<div class="formsHolder">

    <h1>What items are you splitting?</h1>

    <div class="scrollingDiv">
    <form id="form-step1" class="form-vertical">

        <div id="extender2">
            <p style="display: block;">

              <input type="text"  class="itemInput" id="1" value="" placeholder="Item">
                      <input type="number" min="0.00" max="10000.00" step="0.01" class="priceInput" placeholder="$"/>

            <a class="dynamic-link" href="#step2"><img src="{% static "remove.png" %}" width="30px"></a></p>
        </div>


        <p><a id="add_btn2" href="#"><img src="{% static "add.png" %}" width="30px"></a></p>
        </div>
        <a href="#" value = "Next" id="btn2" class="btn2 NPbtn">Next</a>
        </form>

<script>

    $(document).ready(function (){
      $("#btn2").click(function (){
        var items = [];
        var prices = [];
        var dict =[];

        $(".itemInput").each(function(index){
          items.push($(this).val());
        });
        $(".priceInput").each(function(index){
          prices.push($(this).val());
        });
        for(var i = 0; i < items.length; i++){
          dict.push({
            item: items[i],
            price: prices[i]
          });
        };

        var JSON_dict = JSON.stringify(dict);

        console.log(JSON_dict);
        var myObj = JSON.parse(JSON_dict);
        console.log(myObj[0].item);

        $.ajax({
          url : '/get_data/',
          type : 'GET',
          data : {'data' : JSON_dict},
        });
      });
    });

</script>


  <!--section 2-->

    <div class="sectionSpacing" id="form-step2"> </div>



<div class="section">
       <h1>Who is splitting the bill?</h1>
     <div class="scrollingDiv">
    <form method="post" action="" id="form-step2" class="form-vertical" >




      <div id="extender">

          <p style="display: block;"><input type="text"  class="inp nameInput" id="1" value="" placeholder="Name"><a class="dynamic-link" href="#step2"><img src="{% static "remove.png" %}" width="30px"></a></p>


      </div>

      <p><a id="add_btn" href="#"><img src="{% static "add.png" %}" width="30px"></a></p>
</div>

     <a href="#top" class="NPbtn btn1">prev </a>
     <a href="#form-step3" class="NPbtn btn2"> next </a>
</form>

    </div>
    </div>

    <!-- section 3-->

   <div class="sectionSpacing" id="form-step3"> </div>


<div class="section">

       <h1>What is Mark paying for?</h1>
     <div class="scrollingDivLeft">

           <ul>
    <li>
      <label class="checkbox"><input type="checkbox" name="" value="1">Jasmine Rice<span></span></label>
    </li>

    <li>
      <label class="checkbox"><input type="checkbox" name="" value="1">Chicken Thigh<span></span></label>
    </li>

    <li>
      <label class="checkbox"><input type="checkbox" name="" value="1">Eggs<span></span></label>
    </li>

    <li>
      <label class="checkbox"><input type="checkbox" name="" value="1">Spicy Spam<span></span></label>
    </li>

    <li>
      <label class="checkbox"><input type="checkbox" name="" value="1">Sriracha<span></span></label>
    </li>
  </ul>


    </div> <!--Scrolling Div End-->

         <a href="#form-step2" class="NPbtn btn1">prev </a>
       <a href="#form-step4" class="NPbtn btn2"> next </a>

    </div>

       <!-- section 4-->

   <div class="sectionSpacing" id="form-step4"> </div>


<div class="section">

       <h1>Here are everyone's totals!</h1>
     <div class="scrollingDiv">  <center>
<table class="rwd-table">
  <tr>
    <th>Name</th>
    <th>Total</th>

  </tr>
  <tr>
    <td data-th="Name">Mark Nguyen</td>
    <td data-th="Total">$7.50</td>

  </tr>
  <tr>
    <td data-th="Name">Bia Toledo</td>
    <td data-th="Total">$4.75</td>
  </tr>
  <tr>
    <td data-th="Name">Atlas Ko</td>
    <td data-th="Total">$8.75</td>
  </tr>
      <tr>
    <td data-th="Name">Cheryl Woon</td>
    <td data-th="Total">$6.25</td>
  </tr>
</table>

<p>&larr; Drag window (in editor or full page view) to see the effect. &rarr;</p>
    </center>
    </div>

         <!--Scrolling Div End-->

         <a href="#form-step2" class="NPbtn btn1">prev </a>
       <a href="#top" class="NPbtn btn2"> done! </a>

    </div>




    </div> <!--formsHolder end-->





<!--<button id="btn1" class="btn"> Step back</button>
<button id="btn2" class="btn"> Next Step</button> -->



    <!----------JS LINKS--------------------------------------->



    <script src="https://code.jquery.com/jquery-1.9.1.js"  integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA=" crossorigin="anonymous"></script>



    <script type="text/javascript" src="{% static "dotslide.js" %}"></script>
    <script type="text/javascript" src="{% static "load.js" %}"></script>



</body>


<script>

    //set a counter
    var j = $('#form-step1 :input').length + 1;

    //add input
    $('a#add_btn').click(function () {
        $('<p><input type="text" name="items[]" class="inp nameInput" placeholder="Name" id="' + j + '" value="" />' +
            '<a class="dynamic-link" href="#step2"><img src="{% static "remove.png" %}" width="30px"></a></p>').fadeIn("slow").appendTo('#extender');
        j++;
        return false;
    });


    //fadeout selected item and remove
    $("#form-step1").on('click', '.dynamic-link', function () {
        $(this).parent().fadeOut(300, function () {
            $(this).empty();
            return false;
        });
    });



$(document).ready( function() { // Wait until document is fully parsed
  $("#form-step1").on('submit', function(e){

     e.preventDefault();

  });
});

    </script>


    <script>


//set a counter for BUTTON2
    var k = $('#form-step2 :input').length + 1;
    //add input
    $('a#add_btn2').click(function () {
        $('<p><input type="text" name="items[]" class="itemInput" placeholder="Item" id="' + k + '" value="" /> <input type="number" name="items[]" class="priceInput" placeholder="$" id="' + k + '" value="" min="0.00" max="10000.00" step="0.01"  />' +
            '<a class="dynamic-link" href="#step2"><img src=" {% static "remove.png" %}" width="30px"></a></p>').fadeIn("slow").appendTo('#extender2');
        k++;
        return false;
    });


    //fadeout selected item and remove
    $("#form-step2").on('click', '.dynamic-link', function () {
        $(this).parent().fadeOut(300, function () {
            $(this).empty();
            return false;
        });
    });



$(document).ready( function() { // Wait until document is fully parsed
  $("#form-step2").on('submit', function(e){

     e.preventDefault();

  });
});
</script>


</html>
